$mainFontFamily: 'Roboto',
sans-serif;
$headerFontFamily: 'Montserrat',
sans-serif;

$primaryColor: #000000;
$secondaryColor: #ffffff;
$primaryTextColor: #6f6f6f;
$deliveryBackgroundColor: #f7f7f7;

$testimonialBoxColor: #ffffff;
$testimonialBackgroundColor: #f7f7f7;

$projectBackgroundColor: #f7f7f7;
$projectPrimaryIconColor: #000000;
$projectSecondaryIconColor: #ffffff;
$projectPhotoOverlayColor: #ff214f;

$backgroundWowColor:#ffffff;
$headerWowColor: #ff214f;
$spanWowColor: #232323;
$textWowColor: #6f6f6f;

$statsTextMainColor: #939393;
$statsTextSecondaryColor: #232323;
$statsBorderColor: #ededed;

$strongIconColor: #ff214f;
$strongMainColor: #232323;
$strongSecondaryColor: #6f6f6f;
$strongBorderColor: #ededed;

$footerMainText: #6f6f6f;
$footerMainHeader: #939393;
$footerIconColor: #ffffff;
$footerIconHover: #ff214f;
$footerMainBackgroundColor: #1c1c1c;
$footerSecondaryBackgroundColor:#141414;
$footerBorderColor: #363636;